<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 style="color:{{ site.secondary-title }}" class="section-heading">Discover what all the buzz is about!</h2>
                <p style="color:{{ site.secondary-text }}">Our app is available on any mobile device! Download now to get started!</p>

                <!-- Begin MailChimp Signup Form -->

                <div id="mc_embed_signup">
                <form action="//altervista.us8.list-manage.com/subscribe/post?u=a36bd3e356847dab838227fce&amp;id=e3cd495168" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a36bd3e356847dab838227fce_e3cd495168" tabindex="-1" value=""></div>
                    <div class="clear"><input style="color:{{ site.email-btn-txt }}!important; background-color:{{ site.email-btn-bg }}!important;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</section>
