<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h3>New Age is an app landing page</h3> <h1>That will help you beautifully</h1> <h2>showcase your new mobile app, or anything else!</h2><hr>
                        <a href="#download" style="background: {{ site.theme-primary }}; color:black" class="btn btn-outline btn-xl page-scroll"><b>Start Now for Free!</b></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">


              <div class="device-container">
                  <div class="device-mockup imac portrait white">
                      <div class="device">
                          <div class="screen">

                              <div class="youtube-player" data-id="VIDEO_ID"></div>
                              <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                              <div class="embed-responsive embed-responsive-16by9">

                                  <!--<iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>-->
                              </div>
                          </div>
                          <div class="button">
                              <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                          </div>
                      </div>
                  </div>
              </div>



            </div>
        </div>
    </div>
</header>
