<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h3>New Age is an app landing page</h3> <h1>That will help you beautifully</h1> <h2>showcase your new mobile app, or anything else!</h2><hr>
                        <a href="#download" style="background: {{ site.theme-primary }}; color:black" class="btn btn-outline btn-xl page-scroll"><b>Start Now for Free!</b></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">


              <div class="device-container">
                <hr>
                  <div style="margin-top:5em" class="youtube-player" data-id="{{ site.embed-video }}"></div>
              </div>



            </div>
        </div>
    </div>
</header>
