<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner text-center">
                        <h1>New Age is an app landing page</h1>
                        <hr class="light"/>
                        <h2>That will help you beautifully</h2>
                        <h3 class="text-justify">showcase your new mobile app, or anything else!</h3><hr>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll"><b>Start Now for Free!</b></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">


              <div class="device-container">
                  <div style="margin-top:12em;" class="youtube-player" data-id="{{ site.embed-video }}"></div>
              </div>



            </div>
        </div>
    </div>
</header>
